@import "tailwindcss";

body {
  min-height: 100vh;
  font-family: Arial, Helvetica, sans-serif;
}

@media (max-width: 700px) {
  img {
    width: 100%;
    max-width: 350px;
    min-height: 300px;
    height: auto;
  }
}
